@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

$rp-padding: 6px;
$color-info: #56bfe0;


@mixin page-indent() {
  @include calc(width, "100% - 10*#{$rp-padding}");
  margin: 2*$rp-padding auto;
}
