.rp-item-list {
  @import "../../app.partial";
  @include page-indent();

  h4 {
    margin-top: 2*$rp-padding;
    font-size: 120%;
  }

  .rp-item-table {
    border-top: 1px solid gray;
  }

  tr, td {
    border-width: 0px;
    padding-top: 0px
  }

  td {
    padding: $rp-padding 2*$rp-padding $rp-padding 0px;
  }

  .rp-item-table td{
    padding: $rp-padding;
  }

  .square {
    color: $color-info;
  }

  strong {
    text-transform: uppercase;
  }

}
